body {
    padding: 50px;
    margin: 20px;
}

h3 {
    color: #33A5FF;
   padding-top: 20px;
    padding-bottom: 20px;

}


.card {
    padding: 20px;
    margin: 20px;
}

#popup{
    display: none;
    position: fixed;
    width: max-content;
    z-index: 10;
}